* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff7ed;
}
:root {
  --white: #fff;
  --pink-light: /*  #1b9c85 */ #e69a37;
  --dark: #537188;
  --a: #f3efe0;
  --dark-orange: #222222;
  --sky-blue: #5d6a73;
}

/* Home Page */

.home-container {
  opacity: 0.9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: url("./img/home-page.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 650px;
  color: var(--dark-orange);
  padding: 45px 23px;
}

.home-container h1 {
  padding: 35px 0px;
  font-size: 3rem;
  font-weight: 700;
  /*  text-decoration: underline rgb(255, 255, 255); */
}
.home-container p {
  color: var(--white);

  border-radius: 3px;

  font-weight: 600;
  font-size: 1.5rem;
}

.home-btn {
  padding: 15px 50px;
  margin-top: 30px;
  background: var(--dark-orange);
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
}

.home-btn:hover {
  transition: all ease 0.9;
  transform: translateY(-5px);
}

@media (max-width: 550px) {
  .home-container {
    align-items: center;
  }
}

/* Navigation */
.header {
  background-color: var(--pink-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header-logo {
  text-decoration: none;
  color: var(--a);
}
@media (max-width: 470px) {
  .header-logo {
    font-size: 20px;
    color: var(--dark-orange);
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav-menu a {
  padding: 12px;
  text-decoration: none;
  color: var(--a);
  font-size: 20px;
  font-weight: 700;
}
.nav-menu a:hover {
  color: #4d4d4d;
}

@media (max-width: 470px) {
  .nav-menu {
    padding: 5px;
  }
  .nav-link {
    font-size: small;
    padding: 10px;
  }
}

/* Vans */
.van-list-container {
  margin: 0 auto;
  padding: 15px;
}
.van-list-container h1 {
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--dark-orange);
  font-weight: 400;
}
/* Filtered buttons */

.van-list-filter-buttons {
  padding: 20px;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  cursor: pointer;
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

/* END */

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 35px;
  margin-top: 57px;
}

.van-tile img {
  max-width: 150px;
  border-radius: 20px;
}
.van-tile a {
  color: var(--a);
  text-decoration: none;
}
.van-info {
  padding: 18px 0;
}

.van-type {
  cursor: pointer;
  margin: 5px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #b9976c;
  color: var(--white);
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 500px) {
  .van-tile img {
    max-width: 210px;
  }
}
@media (min-width: 680px) {
  .van-tile img {
    max-width: 310px;
  }
}
@media (min-width: 930px) {
  .van-tile img {
    max-width: 450px;
  }
}
/* VANDETAIL */

.van-detail-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.van-detail-container img {
  width: 100%;
}
.van-detail-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.van-detail-description i {
  margin-top: 15px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #b9976c;
  color: #1a1818;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-detail-description h2 {
  margin-top: 15px;
  font-size: 2rem;
}

.van-detail-description h4 {
  margin-top: 15px;
}

.van-detail-description p {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 15px;
}

.van-detail-description button {
  border: none;
  margin-top: 20px;
  padding: 9px 33px;
  background-color: var(--dark-orange);
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 800px) {
  .van-detail-container {
    width: 700px;
    align-items: start;
    padding: 40px;
  }
}

/* ABOUT PAge */

.about-container {
  padding: 20px;
  margin: 0 auto;
}

.about-container img {
  width: 100%;
  height: 400px;
  background-size: cover;
  object-fit: cover;
}
.about-details h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 15px;
}

.about-details p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.1rem;
}

.about-box {
  border-radius: 9px;
  background-color: var(--pink-light);
  margin-top: 20px;
  text-align: left;
  padding: 30px 50px;
}
.about-box h3 {
  padding: 10px 0px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.about-btn {
  border-radius: 4px;
  padding: 9px 23px;
  background-color: var(--dark-orange);
  text-decoration: none;
  color: white;
}
/* Footer */

footer {
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  background-color: var(--pink-light);
  color: white;
  font-weight: 600;
}
